<div class="row menu-content">
	<div class="col-sm-6" (click)="openDiscoverView()">
		<h3 class="left"><span class="fa fa-search"></span>DISCOVER</h3>
	</div>
	<div class="col-sm-6" (click)="openFavoritesView()">
		<h3 class="right"><span class="fa fa-heart"></span>FAVOURITES</h3>
	</div>
</div>
<div class="row menu-content below">
	<div class="col-sm-6" (click)="openWatchListView()">
		<h3 class="left"><span class="fa fa-bookmark"></span>WATCHLIST</h3>
	</div>
	<div class="col-sm-6" (click)="openMovieListsView()">
		<h3 class="right"><span class="fa fa-list"></span>MY LISTS</h3>
	</div>
</div>
