@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */


.show-grid-top{
	margin-top: 30px;
}
.show-grid-top-sm{
	margin-top: 15px;
}
.btn-margin-right{
	margin-right: 8px;
}
.btn-margin-left{
	margin-left: 8px;
}