@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */


.show-grid-top{
	margin-top: 30px;
}
.show-grid-top-sm{
	margin-top: 15px;
}
.show-grid-bottom{
	margin-bottom: 30px;
}
.show-grid-bottom-sm{
	margin-bottom: 15px;
}
.btn-margin-right{
	margin-right: 8px;
}
.btn-margin-left{
	margin-left: 8px;
}
.stopScrolling{
	position: fixed;
	width: 100%;
}

.btn-outline-primary {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open>.dropdown-toggle.btn-outline-primary {
	color: #000;
	background-color: #fff;
	border-color: #000;
}