.menu-content{
	> div{
		cursor: pointer;
	}
	
	h3{
		color: rgba(255,255,255,.7);
		position: absolute;
		top: 20vh;

		&.left{
			right: 60px;
		}

		&.right{
			left: 60px;
		}

		span{
			position: relative;
			display: block;
			font-size: 4rem;
			margin-bottom: 20px;
			text-shadow: 2px 2px 7px grey;

			&.fa-search{
				left: 30px;
			}
			&.fa-heart{
				left: 45px;
			}
		}
	}

	&.below{
		h3{
			top: 50vh;

			&.left{
				right: 45px;
			}
			&.right{
				left: 86px;
			}

			span{
				position: relative;

				&.fa-bookmark{
					left: 50px;
				}
				&.fa-list{
					left: 26px;
				}
			}
		}
	}

}

/* 
*  phone landscape
*/
@media (min-width: 667px) and (max-width: 767px){
	.menu-content{
		h3{
			top: 7vh;
			
			&.left{
				right: auto;
				left: 110px;
			}

			&.right{
				left: auto !important;
				right: 110px;
			}

			span{
				font-size: 2rem;

				&.fa-search{
					left: 45px;
				}
				&.fa-heart{
					left: 60px;
				}
			}
		}

		&.below{
			h3{
				top: 37vh;
				
				&.left{
					left: 101px;
				}
				&.right{
					right: 130px;
				}


				span{

					&.fa-bookmark{
						left: 60px;
					}
					&.fa-list{
						left: 38px;
					}
				}
			}
		}
	}
}

/* 
*  phone portrait
*/
@media (max-width: 375px){
	.menu-content{
		h3{
			top: 15vh;
			font-size: 1rem;


			&.left{
				right: auto;
				left: 55px;
			}

			&.right{
				left: auto !important;
				right: 55px;
			}

			span{
				font-size: 2rem;

				&.fa-search{
					left: 23px;
				}
				&.fa-heart{
					left: 33px;
				}
			}
		}

		&.below{
			h3{
				top: 37vh;

				&.left{
					left: 52px;
				}
				&.right{
					right: 67px;
				}


				span{

					&.fa-bookmark{
						left: 35px;
					}
					&.fa-list{
						left: 20px;
					}
				}
			}
		}
	}
}