.btn{
    border-radius: 3px !important;
}
.btn-outline-danger {
    color: #fff;
    border-color: #fff;
}
.btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active, .btn-outline-danger.active, .open>.dropdown-toggle.btn-outline-danger {
    border-color: transparent;
}