<div class="container-fluid upcoming-movies-container">

	<h2 class="show-grid-bottom-sm upcoming-movies-heading">Upcoming Movies</h2>
	<carousel *ngIf="data" class="upcoming-movies-carousel" [ngClass]="{ 'list-modal-active': isCarouselPaused }" [interval]="carouselInterval">
		<slide *ngFor="let movie of data.results">
			<div class="row">
				<div class="col-xs-3">
					<app-favorite-button [data]="movie" dataType="IMovieResult"></app-favorite-button>
				</div>
				<div class="col-xs-3">
					<app-watch-list-button [data]="movie" dataType="IMovieResult"></app-watch-list-button>
				</div>
				<div class="col-xs-3">
					<app-list-modal [data]="movie" dataType="IMovieResult" (onModalOpened)="pauseCarousel($event)"></app-list-modal>
				</div>
			</div>
			<img *ngIf="movie.backdrop_path" [src]="apiService.getImgUrlOriginal(movie.backdrop_path)" class="img-responsive" [alt]="movie.title"
			 (click)="openDetails(movie.id)" />
			<div class="carousel-caption" (click)="openDetails(movie.id)">
				<h3>{{movie.title}}</h3>
				<small>{{movie.release_date | date: 'y'}}</small>
			</div>
		</slide>
	</carousel>

</div>