.popular-movie-card{
	height: 35vh;
	overflow: hidden;
}

.popular-movie-card img{
	height: 35vh;
}

.popular-movie-card .card-img-overlay{
	padding: 0;
}

.popular-movie-card .card-img-overlay .row{
	position: absolute;
	right: 25px;
	top: 10px;
}

.popular-movie-card .bg-blur{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px;
}

.popular-movie-card .bg-blur small, .popular-movie-card .bg-blur p{
	color: rgba(255,255,255,.8)!important;
}

.popular-movie-card .bg-blur h4{
	margin-bottom: 0;
}

/* 
*  tablet portrait
*/
@media (min-width: 768px) and (max-width: 1023px){
	.popular-movie-card{
		height: 18vh;
		overflow: hidden;
	}

	.popular-movie-card img{
		height: 18vh;
	}

	p.card-text{
		font-size: 0.8rem;
	}

	h4.card-title{
		font-size: 1rem;
	}
}
/* 
*  phone landscape
*/
@media (min-width: 667px) and (max-width: 767px){
	.popular-movie-card{
		height: 45vh;
		overflow: hidden;
	}

	.popular-movie-card img{
		height: 45vh;
	}

	p.card-text{
		font-size: 0.8rem;
	}

	h4.card-title{
		font-size: 1rem;
	}
}
/* 
*  phone portrait
*/
@media (max-width: 375px){
	.popular-movie-card{
		margin-bottom: 15px;
	}
	p.card-text{
		font-size: 0.8rem;
	}

	h4.card-title{
		font-size: 1rem;
	}
}