.upcoming-movies-carousel{

	/deep/ div.carousel > ol.carousel-indicators{
		bottom: 0;
	}

	// carosuel height
	/deep/ div.carousel > div.carousel-inner{
		height: 60vh;
		border-radius: 0.25rem;

		.carousel-caption{
			bottom: 0;
		}

		slide{
			height: 60vh;

			// btn´s
			.row{
				position: absolute;
				right: 15px;
				top: initial;
				.btn{
					border-radius: 0 !important;
				}
				.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open>.dropdown-toggle.btn-outline-primary {
					border-color: transparent;
				}
				.fav{
					border-bottom-left-radius: 0.25rem !important;
				}
			}

			.item{
				width: 100%;

				img{
					width: 100%;
					cursor: pointer;
				}

				.carousel-caption{
					width: 100%;
					left: 0;
					background-color: rgba(0,0,0,.5);
					cursor: pointer;
				}

			}

		}
	}

	// carosuel control bg´s
	/deep/ span.icon-prev.carousel-control-prev-icon:after{
		content: '';
		background-color: rgba(0,0,0,.2);
		display: inline-block;
		width: 60px;
		height: 60px;
		border-radius: 100%;
		position: absolute;
		left: 75px;
		bottom: 219px;
	}
	/deep/ span.icon-next.carousel-control-next-icon:after{
		content: '';
		background-color: rgba(0,0,0,.2);
		display: inline-block;
		width: 60px;
		height: 60px;
		border-radius: 100%;
		position: absolute;
		right: 80px;
		bottom: 219px;
	}

	// carousel control height
	/deep/ a.right.carousel-control.carousel-control-next{
		height: 90%;
		position: absolute;
		top: 10%;
	}
	/deep/ span.icon-next.carousel-control-next-icon{
		margin-bottom: 49px;
	}

}


/* media queries
*  tablet landscape
*/
@media (min-width: 1024px) and (max-width: 1200px){

	.upcoming-movies-carousel{
		// carosuel control bg´s
		/deep/ span.icon-prev.carousel-control-prev-icon:after{
			content: '';
			background-color: rgba(0,0,0,.2);
			display: inline-block;
			width: 60px;
			height: 60px;
			border-radius: 100%;
			position: absolute;
			left: 43px;
			bottom: 202px;
		}

		/deep/ span.icon-next.carousel-control-next-icon:after{
			content: '';
			background-color: rgba(0,0,0,.2);
			display: inline-block;
			width: 60px;
			height: 60px;
			border-radius: 100%;
			position: absolute;
			right: 49px;
			bottom: 202px;
		}
	}
}
/* 
*  tablet portrait
*/
@media (min-width: 768px) and (max-width: 1023px){

	.upcoming-movies-carousel{
		// carosuel height
		/deep/ div.carousel > div.carousel-inner{
			height: 35vh;
			border-radius: 0.25rem;

			.carousel-caption{
				bottom: 0;
			}

			slide{
				height: 35vh;
			}
		}

		// carosuel control bg´s
		/deep/ span.icon-prev.carousel-control-prev-icon:after{
			left: 25px;
			bottom: 148px;
		}

		/deep/ span.icon-next.carousel-control-next-icon:after{
			right: 30px;
			bottom: 148px;
		}

		// carousel control height
		/deep/ a.right.carousel-control.carousel-control-next{
			height: 87%;
			position: absolute;
			top: 13%;
		}
		/deep/ span.icon-next.carousel-control-next-icon{
			margin-bottom: 45px;
		}

	}
}
/* 
*  phone landscape
*/
@media (min-width: 667px) and (max-width: 767px){

	h2.upcoming-movies-heading{
		font-size: 1rem;
	}

	.upcoming-movies-carousel{
		// carosuel height
		/deep/ div.carousel > div.carousel-inner{
			height: 60vh;
			border-radius: 0.25rem;

			.carousel-caption{
				bottom: 0;
			}

			slide{
				height: 60vh;
				
				//.btn-sm styles
				button{
					padding: 0.25rem 0.5rem;
					font-size: 0.875rem;
					border-radius: 0.2rem;
				}
			}

			.carousel-caption h3{
				font-size: 1rem;
			}

		}

		// carosuel control bg´s
		/deep/ span.icon-prev.carousel-control-prev-icon:after{
			background-color: transparent;
		}
		/deep/ span.icon-next.carousel-control-next-icon:after{
			background-color: transparent;
		}

		// carousel control icons
		/deep/ span.icon-prev.carousel-control-prev-icon{
			position: absolute;
			bottom: 55px;
		}
		
		// carousel control height
		/deep/ a.right.carousel-control.carousel-control-next{
			height: 84%;
			position: absolute;
			top: 16%;
		}
		
		/deep/ span.icon-next.carousel-control-next-icon{
			position: absolute;
			bottom: 55px;

			// carousel control height
			margin-bottom: 0px;
		}

	}
}
/* 
*  phone portrait
*/
@media (max-width: 375px){

	h2.upcoming-movies-heading{
		font-size: 1rem;
	}

	.upcoming-movies-carousel{
		// carosuel height
		/deep/ div.carousel > div.carousel-inner{
			height: 30vh;
			border-radius: 0.25rem;

			.carousel-caption{
				bottom: 0;
			}
			
			slide{
				height: 30vh;
				
				//.btn-sm styles
				button{
					padding: 0.25rem 0.5rem;
					font-size: 0.875rem;
					border-radius: 0.2rem;
				}

				.carousel-caption h3{
					font-size: 1rem;
				}

			}

		}

		// carosuel control bg´s
		/deep/ span.icon-prev.carousel-control-prev-icon:after{
			background-color: transparent;
		}
		/deep/ span.icon-next.carousel-control-next-icon:after{
			background-color: transparent;
		}

		// carousel control icons
		/deep/ span.icon-prev.carousel-control-prev-icon{
			position: absolute;
			bottom: 55px;
		}
		
		// carousel control height
		/deep/ a.right.carousel-control.carousel-control-next{
			height: 82%;
			position: absolute;
			top: 18%;
		}
		
		/deep/ span.icon-next.carousel-control-next-icon{
			position: absolute;
			bottom: 55px;

			// carousel control height
			margin-bottom: 0px;
		}
		
	}

}




