<div class="container-fluid">

	<h2 class="show-grid-bottom-sm upcoming-movies-heading">Upcoming Movies</h2>
	<carousel *ngIf="response" class="upcoming-movies-carousel" [ngClass]="{ 'list-modal-active': isCarouselPaused }" [interval]="carouselInterval">
		<slide *ngFor="let movie of response?.results">
			<div class="row">
				<div class="col-xs-3">
					<button class="btn btn-outline-primary fav" (click)="toggleFavorite()">
						<span class="fa fa-heart-o"></span>
					</button>
				</div>
				<div class="col-xs-3">
					<button class="btn btn-outline-primary watchlist" (click)="toggleWatchlist()">
						<span class="fa fa-bookmark-o"></span>
					</button>
				</div>
				<div class="col-xs-3">
					<app-list-modal (onModalOpened)="pauseCarousel($event)"></app-list-modal>
				</div>
			</div>
			<img *ngIf="movie.backdrop_path" [src]="apiService.getImgUrlOriginal(movie.backdrop_path)" class="img-responsive" [alt]="movie.title" (click)="openDetails(movie.id)"/>
			<div class="carousel-caption" (click)="openDetails(movie.id)">
				<h3>{{movie.title}}</h3>
				<small>{{movie.release_date | date: 'y'}}</small>
			</div>
		</slide>
	</carousel>

</div>
