.row {
    margin-right: 0;
    .col-md-12 {
        padding-right: 0;
    }
}

.cast-facts, .rec {
    padding: 15px;
}

.flex-last {
    padding-right: 0;
}

.rec {
    .col-md {
        padding-right: 0;
    }
}

.recommendations {
    display:flex;
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    flex-flow: inherit;
    app-movie-card {
        margin-right: 15px;
    }
}