.list {
    border-radius: 0 !important;
    border-top-right-radius: 0.2rem !important;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open>.dropdown-toggle.btn-outline-primary {
    border-color: transparent;
}

.modal-dialog {
    .modal-header {
        .modal-title {
            color: #fff;
        }
        .fa-times {
            font-size: 1rem;
        }
        .close {
            color: #fff;
            text-shadow: none;
        }
    }
    .modal-body { }
}
