<div class="card card-inverse movie-card">
	<img *ngIf="data.backdrop_path" class="card-img img-responsive" [src]="apiService.getImgUrlOriginal(data.backdrop_path)"
	 [alt]="data.title" />
	<img *ngIf="!data.backdrop_path" class="card-img img-responsive placeholder" src="/assets/images/movie_placeholder.png" [alt]="data.title"
	/>
	<div class="card-img-overlay">
		<div *ngIf="!showOverview" class="row option-buttons">
			<div class="col">
				<div class="row list-buttons">
					<div class="col-xs-3">
						<app-favorite-button [data]="data" dataType="IMovieResult"></app-favorite-button>
					</div>
					<div class="col-xs-3">
						<app-watch-list-button [data]="data" dataType="IMovieResult"></app-watch-list-button>
					</div>
					<div class="col-xs-3">
						<app-list-modal [data]="data" dataType="IMovieResult"></app-list-modal>
					</div>
				</div>
				<div class="row remove-button">
					<div *ngIf="list && list.id && list.name" class="col-xs-3">
						<app-movie-list-remove-button [data]="data" [listId]="list.id" (onRemove)="onRemovePressed()"></app-movie-list-remove-button>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-blur" [ngClass]="{'overview-blur': showOverview}">
			<p *ngIf="data.vote_average > 0 && !showOverview" class="card-text">
				<rating [(ngModel)]="data.vote_average" max="10" stateOn="fa fa-star" stateOff="fa fa-star-o" [readonly]="true"></rating>
				{{data.vote_average | number : '1.1-2'}}
			</p>
			<h4 class="card-title" (click)="openDetails(data.id)">{{data.title}}</h4>
			<small *ngIf="!showOverview" class="text-muted">{{data.release_date | date: 'y'}}</small>
			<small *ngIf="!showOverview && data.overview" class="text-muted" (click)="showOverview = !showOverview">Overview...</small>
			<small *ngIf="showOverview && data.overview" class="fa fa-times" (click)="showOverview = !showOverview"></small>
			<div *ngIf="showOverview && data.overview" class="scroll">
				<small class="text-muted">{{data.overview}}</small>
			</div>
		</div>
	</div>
</div>