app-movie-card{
	padding: 0 15px 15px 0;
	width: 32.5vw;
}
// remove padding on the right
app-movie-card:nth-child(3n){
	padding-right: 0;
}
.container-fluid {
	padding-top: 15px;

	app-movie-card {
		.movie-card {
			height: 20vh !important;
		}
	}
}
/* media queries
*  tablet landscape
*/
@media (min-width: 1024px) and (max-width: 1200px){
	app-movie-card{
		width: 32.3vw;
	}
}
/* 
*  tablet portrait
*/
@media (min-width: 768px) and (max-width: 1023px){
	app-movie-card{
		width: 32vw;
	}
}
/* 
*  phone landscape
*/
@media (min-width: 667px) and (max-width: 767px){
	app-movie-card{
		width: 31.8vw;
	}
	.container-fluid {
		padding-top: 50px;
	}
}
/* 
*  phone portrait
*/
@media (max-width: 375px){
	.container-fluid {
		padding-top: 50px;
	}
}