/deep/ .discover-view{
	.panel.card.panel-default{
		border: none;

		.panel-heading.card-header{
			color: rgba(255, 255, 255, 0.8);
			background-color: rgba(0, 0, 0, 0.7);
			border-bottom: 1px solid rgba(255, 255, 255, 0.8);

		}
	}
	.panel-body.card-block{
		background-color: rgba(0, 0, 0, 0.2);
	}

	.genre-item{
		text-align: center;
		background-color: rgba(0,0,0,0.2);
		color: rgba(255, 255, 255, 0.8);
		padding: 15px;
		cursor: pointer;
	}

	.selectedGenre > p{
		background-color: rgba(0, 0, 0, 0.6);
	}

	.nav-tabs {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		
		.nav-item .nav-link{
			color: rgba(0, 0, 0, 0.7);
		}
		
		.nav-link.active, .nav-tabs .nav-item.show .nav-link{
			color: rgba(255, 255, 255, 0.8) !important;
			background-color: rgba(0, 0, 0, 0.7);
			border: none;
		}
	}
	
	select{
		background-color: rgba(0, 0, 0, 0.1);
	}
}