<nav class="navbar fixed-top navbar-inverse bg-inverse">
  <div class="row">
    <div class="col-md-8">
      <a role="button" (click)="leftMenuCollapsed = !leftMenuCollapsed; lockBodyScroll()" class="menu-button btn-margin-right"><span class="{{!leftMenuCollapsed ? 'fa fa-bars' : 'fa fa-times'}}"></span></a>
      <a class="navbar-brand" href="#">
        <img src="/assets/icons/movie.png" width="30" height="30" class="d-inline-block align-top" /> WatchIt
      </a>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col">
          <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
            <div class="input-group">
              <input formControlName="searchQuery" type="search" placeholder="Search" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-outline-primary" type="submit"><span class="fa fa-search"></span></button>
              </span>
            </div>
          </form>
        </div>
        <app-login-modal class="col-auto user"></app-login-modal>
      </div>
    </div>
  </div>
</nav>

<div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="!leftMenuCollapsed" class="card card-block card-header">
  <app-menu (onMenuItemSelected)="leftMenuCollapsed = !leftMenuCollapsed"></app-menu>
</div>