app-movie-list-card{
	padding: 0 15px 15px 0;
	width: 32.5vw;
}
app-movie-list-card:nth-child(3n){
	padding-right: 0;
}
.container-fluid {
	padding-top: 15px;

	app-movie-list-card {
		.movie-list-card {
			height: 20vh !important;
		}
	}
	
	.btn-outline-primary{
		color: #fff;
		border-color: #fff;
		background-color: #292b2c;
	}
	.btn-outline-primary:hover, 
	.btn-outline-primary:focus, 
	.btn-outline-primary:active, 
	.btn-outline-primary.active, 
	.open > .dropdown-toggle.btn-outline-primary{
		color: #292b2c;
		border-color: #292b2c;
		background-color: #fff;
	}
}
/* media queries
*  tablet landscape
*/
@media (min-width: 1024px) and (max-width: 1200px){
	app-movie-list-card{
		width: 32.3vw;
	}
}
/* 
*  tablet portrait
*/
@media (min-width: 768px) and (max-width: 1023px){
	app-movie-list-card{
		width: 32vw;
	}
}
/* 
*  phone landscape
*/
@media (min-width: 667px) and (max-width: 767px){
	app-movie-list-card{
		width: 31.8vw;
	}
	.container-fluid {
		padding-top: 50px;
	}
}
/* 
*  phone portrait
*/
@media (max-width: 375px){
	.container-fluid {
		padding-top: 50px;
	}
}